<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="MemberMapper">
	<sql id="select-member">
		SELECT
		id, password, name, address
		FROM member
	</sql>
	<insert id="registerMember" parameterType="memberVO">
		INSERT
		INTO member(id, password, name, address)
		VALUES (#{id},#{password},#{name},#{address})
	</insert>
	<select id="idcheck" parameterType="string" resultType="string">
		SELECT id
		FROM member
		WHERE id = #{value}
	</select>
	<select id="login" parameterType="memberVO" resultType="memberVO">
		<include refid="select-member"></include>
		WHERE id=#{id} and password = #{password}
	</select>
	<update id="updateMember" parameterType="memberVO">
		UPDATE member
		SET password=#{password}, name=#{name},address=#{address}
		WHERE id=#{id}
	</update>
	<select id="findByAddress" parameterType="string" resultType="memberVO"><!-- 주소로 회원검색하기 -->
		<include refid="select-member"></include>
		WHERE address like '%${value}%'
	</select>
	<select id="getAddressKind" resultType="string"><!-- distinct -->
		SELECT distinct address
		FROM member
	</select>
	<select id="getAllMember" resultType="memberVO">
		<include refid="select-member"></include>
	</select>
</mapper>
